* {
    margin: 0;
}

body {
    /* background-color: #ed52d6; */
    background-image: url("../assets/houten-natuurlijke-vloer-decoratie-concept.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #060606;
    color: #fb5958;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block;
    }
}

.navigation {
    height: 70px;
    background: #060505c2;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.name {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bold;
}


.image-container {
    width: 11em;
    height: 17em;
    background-color: #caa7dd;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

#Q3 {
    translate: -15em 0em;
    background-color: white;

}


.image-container img {
    max-width: 200%;
    max-height: 200%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 1.75em;

}

/* Centering image containers */
.image-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Added min-height to ensure containers are centered vertically */
}

/* Additional styles for text inside image containers */
.q-text,
.q3-text {
    color: #000;
    background-color: rgba(255, 255, 255, 0); /* Changed from #ffffff00 */
    padding: 10px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: -1;
}

.q-text h2,
.q3-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.q-text p,
.q3-text p {
    font-size: 18px;
    margin: 0;
}
.image-container.moved {
    transform: translateX(12em); /* Adjust 12em as needed */
}
