* {
    margin: 0;
}

body {
    background-color: #b35e5e;
    background-image: url("/assets/jungle-en-houten-tafel-achtergrond-gemaakt-met-generatieve-ai_218381-14196.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    background: #f2f2f2;
    color: #fb5958;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}


.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}


@media screen and (min-width: 800px) {
    .nav-list {
        display: block;
    }
}

.navigation {
    height: 70px;
    background: #ffffff;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.name {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.name a,
.name a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}