/*styling view all page ~ Anne */
* {
    margin: 0;
}

/*header*/

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

ul {
    text-align: center;
    margin: 0;
    padding: 20px;
}

li {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

/*visitekaartjes*/

.viewall-container {
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*gap: 20px; Adjust the gap between iframes as needed */
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    }


.viewall-col {
    box-sizing: border-box;
}

.viewall-profile {
    height: 20em;
    width: 20em;
}

iframe {
    border-radius: 10%;
    height: 40em;
    width: 40em;
    display: block;
    width: 100%;
    border: none;
    margin: 50px;
    }