/*styling view all page ~ Anne */
* {
    margin: 0;
}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

ul {
    text-align: center;
    margin: 0;
    padding: 20px;
}

li {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}


.viewall-container {
    margin: 0 auto;
}

.viewall-spacer {
    max-width: 1200px;
    /*Zorgt ervoor dat de container niet groter wordt dan 1200px,*/
    margin: auto;
    /*Verdeelt automatisch the margin van de container*/
}

.viewall-cards {
    display: flex;
    flex-wrap: wrap;
    /*maakt het mogelijk dat cards over meerdere regels of kolommen lopen als ze niet binnen de beschikbare ruimte in een enkele rij of kolom passen. */
    justify-content: space-evenly;
    /* zorgt ervoor dat de cards even verdeeld worden*/
}

.viewall-col {
    display: inline-flex;
    /*zorgt ervoor dat de container zich gedraagt ​​als een element op inline-niveau, maar met flexibele lay-outeigenschappen, waardoor deze inline met andere inhoud kan vloeien terwijl flexbox nog steeds wordt gebruikt voor de onderliggende elementen.*/
    flex-direction: column;
    /*rangschikt de onderliggende elementen van de flexcontainer in een verticale kolomindeling, waarbij ze op elkaar worden gestapeld in plaats van op een rij.*/
    justify-content: space-evenly;
    /* zorgt ervoor dat de kolommen even verdeeld worden*/
}

.viewall-profile {
    margin: 10px auto;
    height: 20em;
    width: 20em;
}

iframe {
    border: 0.1em solid #3c5b6700;
    border-radius: 10%;
    height: 40em;
    width: 40em;
}